body {
  background-color:#fafafa;
}

.container {
  padding:0 4rem;
}

@media (min-width: 768px) {

  .container {
    padding:2rem;
  }

}

.header {
  /* Image by Pi Slices - http://pislices.ca/post/127236905719/magic-carpet-150821 */
  background: #101010 url('/img/bg-pi-slices.gif') no-repeat center;
  height: 350px;
  width:100%;
  position: relative;
}

.layer {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logo {
  padding:4rem 0;
}

.logo img {
  display:block;
  margin:1rem auto;
  width: 130px;
}

.logo h1 {
  color: #fff;
  font-family: monospace;
  font-size: 400%;
}

@media (min-width: 1200px) {

  .header {
    height: 600px;
  }

  .logo {
    padding-top: 19rem;
  }
}

.content {
  padding:4rem 0;
}

.content h1 {
  margin-bottom:2rem;
}

.content p {
  font-size: 15px;
}

.content a {
  color:#e6158d;
}

.content span {
  font-weight: 800;
}

.row .btn {
  margin-bottom:3rem;
}

.btn {
  transition: all 0.2s ease;
  min-height: 100px;
  white-space: normal;
  padding:1.5rem;
  margin-bottom: 1rem;
  word-wrap: break-word;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
  position: relative;
}

.btn a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn:hover {
  background-color:#e6158d;
  color: #fff;
  text-decoration:none;
}

.btn h5 {
  font-size: 2.5rem;
  margin-top:16px;
  margin-bottom:13px;
}

.btn p {
  margin-bottom: 16px;
  font-size: 14px;
  padding: 0rem .5rem 0rem .5rem;
}

.footer {
  padding:1rem 0  7rem 0;
}

.footer a {
  color: #e6158d;
}

.icon-group a {
  font-size: 3rem;
  color: #000;
  transition: all 0.2s ease;
}

.icon-group a:hover {
  color: #e6158d;
}
