body {
  background-color:#fafafa;
}

.logo {
  padding-top: 7.6rem;
}

.logo img {
  width: 130px;
}

.logo p {
  color: #fff;
  font-family: monospace;
  font-size: 6rem;
}

.header {
  background-image: url(background3.jpg);
  background-position: 50% 90%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  width:100%;
}

.layer {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
}

.page-body {
  padding: 0 5rem 0 5rem;
  max-width: 1100px;
}

.about-text h1 {
  margin: 5rem 0 4rem 0;
}

.about-text p {
  font-size: 15px;
}

.column a {
  margin: 1rem 2rem 2rem 1rem;
}

.btn {
  transition: all 0.2s ease;
  min-height: 100px;
  white-space: normal;
  padding:1.5rem;
  word-wrap: break-word;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
}

.btn-default:hover {
  background-color:#0097a7;
  color: #fff;
}

a:hover {
  text-decoration: none;
}

.btn h5 {
  font-size: 2.5rem;
  margin-top:16px;
  margin-bottom:13px;
}

.btn p {
  margin-bottom: 16px;
  font-size: 16px;
  padding: 0rem 2rem 0rem 2rem;
}

.footer {
  min-height: 180px;
  padding-top:5rem;
}

.footer h2 {
  padding: 0rem 4rem 0rem 4rem;
}

.footer a {
  color: #0097a7;
}

.icon-group a {
  font-size: 3rem;
  color: #000;
  transition: all 0.2s ease;
}

.icon-group a:hover {
  color: #0097a7
}
